@import url("../main.css");

section.portfolio {
  & .container {
    text-align: center;
    padding: 2rem 1rem;
  }
  
  & h1 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--accent-color);
  }
  
  & article {
    & .title {
      text-transform: uppercase;
      color: #222;
      
      & h2 {
        margin: 0;
        font-weight: 400;
        font-size: 1.25rem;
      }

      & p {
        margin: 0;
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }

  & img {
    max-width: 100%;
  }

  & .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 2.5rem;
    gap: 2rem;
    
    & article {
      width: calc(100% / 3 - 1.4rem);
    }
  }
}