@import url("main.css");
@import url("perspective.css");

* {
  border: 1px solid #f0f;
}

section.portfolio {
  --size: 1;
  --depth: 4px * var(--size);
  --height: 300px;
  --perspective-height: calc(var(--height) * var(--size));
  --perspective-width: calc(200px * var(--size));
  --x-translation: calc(var(--height)/4 * var(--size));
  --background-size: calc(200px * var(--size));
}